<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.soua.truesender"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".TruesenderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="sms" />

<!--                 <category android:name="android.intent.category.APP_MESSAGING" />  -->
            </intent-filter>
        </activity>
        <activity
            android:name=".TruesenderSettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCES" />
            </intent-filter>
        </activity>

        <receiver
            android:name="TrueSenderReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />
                <!--   --><data android:scheme="smsto" /> -->
                <!--   --><category android:name="android.intent.category.APP_MESSAGING" /> -->
            </intent-filter>
        </receiver>
    </application>

</manifest>